.custom-button {
  min-width: fit-content;
  padding: var(--space-50) var(--space-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-3-20);
  transition: var(--transition-1);
  color: var(--color-3);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-2);
  background-color: var(--color-2);
  outline: none;
  text-align: center;
  // margin: var(--space-1) auto;
  cursor: pointer;

  &:first-child {
    flex: 2 0 100%
  }

  &:hover {
    border: 1px solid var(--color-3);
  }

  &:active {
    transform: scale(0.99);
  }
}

.secondary {
  background-color: transparent;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // width: 50%;
  gap: var(--space-1);
  margin: var(--space-2) auto;
}

@media only screen and (max-width: 600px) {
  .custom-button {
    padding: var(--space-50) var(--space-1);
    flex: 1 0 50px;
  }

  .buttons-container {
    width: auto;
    flex-wrap: wrap;
  }
}