.error-msg {
    border: 1px solid var(--error-color);
    color: var(--color-3);
    padding: var(--space-1);
    width: fit-content;
    margin: var(--space-2) auto;
    border-radius: var(--border-radius);
}