    .custom-input-checkbox-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-1);

        .custom-input-checkbox {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid var(--color-3-50);
            cursor: pointer;
            transition: var(--transition-1);

            &:hover {
                border: 1px solid var(--color-3);
            }
        }

        .custom-input-checkbox-label {
            font-size: var(--font-size-1);
            font-weight: var(--font-weight-3);
            color: var(--color-3);
            cursor: pointer;
        }

        .checked {
            background-color: var(--color-3);
            border: 1px solid var(--color-3);
        }
    }