.solution-container {
    padding-top: var(--space-3);
}

.steps-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    margin: var(--space-2) 0;
}

.equations-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    margin: var(--space-1) 0;
}

.inline-statement {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
    align-items: center;
    margin-bottom: var(--space-1);
    overflow-x: auto;
}

.inline-step {
    font-size: var(--font-size-1);
}

.rule {
    font-weight: var(--font-weight-4);
    padding: var(--space-1);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--color-3-20);
    border-left: none;
    padding-left: 0;
    margin-top: var(--space-1);
    width: fit-content;
}

.subtitle {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
    margin: var(--space-2) 0;
    margin-top: var(--space-3);
    color: var(--color-3-60);
}

.active-page {
    color: var(--color-3) !important;
    //underline
    border-bottom: 1px solid var(--color-3-20);
}

.toast {
    padding: var(--space-1) !important;
    border-radius: var(--border-radius) !important;
    box-shadow: none !important;
}

.toast-body {
    width: fit-content !important;
}

@media only screen and (max-width: 600px) {
    .Toastify__toast-container {
        .toast {
            transition: var(--transition-1);
            border-radius: 0 !important;
            border-bottom: 1px solid var(--color-3) !important;

            &:first-child {
                border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
            }

            &:last-child {
                border-bottom: none !important;
            }
        }
    }

}