.select-menu {
  margin-top: var(--space-2);

  .select-menu-title {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-1);
    color: var(--color-3);
    margin-bottom: var(--space-50);
  }

  .select-menu-list {
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
    border-radius: var(--border-radius);
    overflow: hidden;

    .select-menu-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: var(--space-1);
      border-bottom: 1px solid var(--color-3-20);
      transition: var(--transition-1);
      color: var(--color-3);
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: var(--color-3-10);
      }

      .select-menu-item-title {
        font-weight: var(--font-weight-4);
      }

      .select-menu-item-equation {
        padding: var(--space-1);
        flex: 1 0 0;
        text-align: center;
        border-left: 1px solid var(--color-3-20);

        &:first-child {
          border-left: none;
        }
      }

      @media only screen and (max-width: 600px) {
        .select-menu-item-equation {
          border-left: none;
          padding: var(--space-50);
        }
      }
    }

    .equations {
      padding: 0;
    }

    @media only screen and (max-width: 600px) {
      .examples {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--space-1) 0;

        .select-menu-item-title {
          text-align: center;
          margin-bottom: var(--space-25);
        }

        .select-menu-item-details {
          text-align: center;
          color: var(--color-3-60)
        }
      }
    }
  }
}